// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .large{
        display: none;
    };
    .small {
        display: flex;
    };
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .large{
        display: none;
    };
    .small {
        display: flex;
    };
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .large{
        display: flex;
    };
    .small {
        display: none;
    };
}

