<!-- table -->
<table class="table">
    <tbody>
        <% rentalInfo.forEach( function(model) { %>
        <tr>
            <td><%= model.id %></td>
            <td><%= model.propertyTitle %></td>
            <td><%= model.estate %></td>
            <td><a href="./update?id=<%= model.id %>">
                    Edit
                </a></td>
        </tr>
        <% }); %>
    </tbody>
</table>