<div class="row no-gutters">
    <div class="col-md-12 col-xs-12">
        <div class="card">
            <div class="px-4 py-3">
                <div class="row no-gutters">
                    <div class="col-md-8">
                        <img src="/images/1.png" class="card-img img-responsive" alt="..."
                        class="img-resposible" style="height: 200px">
                    </div>
                    <div class="col-md-4">
                        <ul class="list-group">
                            <li class="list-group-item"><b>Estate:</b>213</li>
                            <li class="list-group-item"><b>Gross Area:</b>123 sq feet</li>
                            <li class="list-group-item"><b>Rent:</b>$123</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>